* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy";
  background-color: #1C1C1C;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../fonts/Gilroy-MediumItalic.ttf");
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1800px;
  }
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #121212;
  border-radius: 12px;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}
@media only screen and (min-width: 768px) {
  .btn {
    font-size: 30px;
    line-height: 35px;
  }
}
.btn a {
  color: #EFF3EC;
}

.main-section {
  background-color: #E0E0E0;
}

header {
  padding-top: 80px;
}

.menu-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}
@media only screen and (min-width: 1200px) {
  .menu-wrap {
    margin-left: 50px;
    margin-right: 88px;
  }
}
@media only screen and (min-width: 1920px) {
  .menu-wrap {
    margin-left: 130px;
    margin-right: 130px;
  }
}
.menu-wrap p, .menu-wrap a {
  font-size: 20px;
  font-weight: 500;
  line-height: 19px;
  color: #1C1C1C;
}
.menu-wrap ul {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .menu-wrap ul {
    display: flex;
    flex-flow: row wrap;
    column-gap: 90px;
  }
}

.menu-right {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .menu-right {
    display: block;
  }
}
.menu-right p {
  font-size: 24px;
  font-weight: 600;
}

.show-btn {
  display: block;
  font-size: 25px;
  color: #41453C;
  border: none;
}
@media only screen and (min-width: 1200px) {
  .show-btn {
    display: none;
  }
}

.main-sec-wrap {
  padding-bottom: 100px;
  background-image: url("../img/main-sec-img.png");
  background-size: 955px 853px;
  background-position: 100% 31px;
  background-repeat: no-repeat;
  padding-top: 100px;
}
@media only screen and (min-width: 768px) {
  .main-sec-wrap {
    padding-top: 130px;
  }
}
@media only screen and (min-width: 1200px) {
  .main-sec-wrap {
    padding-bottom: 151px;
    padding-top: 190px;
  }
}
@media only screen and (min-width: 1920px) {
  .main-sec-wrap {
    padding-bottom: 450px;
    padding-top: 268px;
  }
}
.main-sec-wrap h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 94px;
  color: #8D909A;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 24px;
}
@media only screen and (min-width: 768px) {
  .main-sec-wrap h1 {
    font-size: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  .main-sec-wrap h1 {
    justify-content: start;
    margin-left: 139px;
    font-size: 130px;
    line-height: 152px;
  }
}
@media only screen and (min-width: 1920px) {
  .main-sec-wrap h1 {
    margin-left: 175px;
    font-size: 200px;
    line-height: 234px;
  }
}

.clip-heding h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 133%;
  font-style: italic;
  background-image: url("../img/text-bg.webp");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@media only screen and (min-width: 576px) {
  .clip-heding h1 {
    font-size: 90px;
  }
}
@media only screen and (min-width: 768px) {
  .clip-heding h1 {
    font-size: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  .clip-heding h1 {
    font-size: 180px;
    margin-left: 50px;
  }
}
@media only screen and (min-width: 1920px) {
  .clip-heding h1 {
    font: 230px;
    margin-top: 0px;
  }
}

.lt-wrap {
  display: flex;
  flex-flow: row wrap;
  column-gap: 89px;
  justify-content: center;
  margin-top: 40px;
}
@media only screen and (min-width: 1200px) {
  .lt-wrap {
    justify-content: start;
    margin-top: 60px;
    margin-left: 128px;
  }
}
@media only screen and (min-width: 1920px) {
  .lt-wrap {
    margin-left: 258px;
  }
}

.location {
  display: flex;
  flex-flow: row wrap;
  column-gap: 15px;
  align-items: center;
}
.location img {
  width: 34px;
  height: 34px;
}
.location p {
  display: flex;
  flex-flow: column wrap;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #41453C;
}

.introduction-sec {
  background-color: #D5D5D5;
}
@media only screen and (min-width: 1920px) {
  .introduction-sec {
    background-color: #1C1C1C;
  }
}

.intro-wrap {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .intro-wrap {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .intro-wrap {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 97px;
    margin-right: 97px;
  }
}
@media only screen and (min-width: 1920px) {
  .intro-wrap {
    margin-left: 18px;
    margin-right: 18px;
    padding-left: 250px;
    padding-right: 250px;
    background-color: #D5D5D5;
    top: -288px;
    position: relative;
  }
}
.intro-wrap p {
  font-size: 33px;
  font-weight: 500;
  line-height: 40px;
  color: #41453C;
}
@media only screen and (min-width: 768px) {
  .intro-wrap p {
    font-size: 43px;
    line-height: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .intro-wrap p {
    font-size: 53px;
    line-height: 62px;
  }
}

.lbtn-wrap {
  text-align: center;
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .lbtn-wrap {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .lbtn-wrap {
    text-align: start;
  }
}
.lbtn-wrap .lbtn {
  border: none;
  background-color: #121212;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 6px;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  color: #EFF3EC;
}
@media only screen and (min-width: 768px) {
  .lbtn-wrap .lbtn {
    font-size: 40px;
    line-height: 47px;
  }
}

.pro-head {
  color: white;
}

.project-wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.lssgg {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  max-width: 413px;
}
@media only screen and (min-width: 768px) {
  .lssgg {
    margin-bottom: 100px;
    max-width: 513px;
  }
}
@media only screen and (min-width: 1200px) {
  .lssgg {
    margin-bottom: 200px;
    display: flex;
    flex-flow: row wrap;
    margin-left: 21px;
    margin-right: 21px;
    max-width: 1095px;
  }
}
@media only screen and (min-width: 1920px) {
  .lssgg {
    align-items: start;
    max-width: 1551px;
  }
}

@media only screen and (min-width: 1200px) {
  .lssgg-img {
    max-width: 513px;
  }
}
@media only screen and (min-width: 1920px) {
  .lssgg-img {
    max-width: 900px;
  }
}
.lssgg-img img {
  width: 100%;
}

.lssgg-body {
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .lssgg-body {
    text-align: start;
    margin-left: 57px;
    max-width: 521px;
  }
}
@media only screen and (min-width: 1920px) {
  .lssgg-body {
    margin-left: 120px;
  }
}
.lssgg-body p {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: #EFF3EC;
}
@media only screen and (min-width: 768px) {
  .lssgg-body p {
    font-size: 25px;
    line-height: 29px;
    margin-top: 70px;
  }
}
@media only screen and (min-width: 1200px) {
  .lssgg-body p {
    margin-top: 0px;
  }
}
.lssgg-body h1 {
  margin-top: 5px;
  font-size: 40px;
  font-weight: 500;
  line-height: 45px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .lssgg-body h1 {
    font-size: 45px;
    line-height: 53px;
  }
}
.lssgg-body h3 {
  display: flex;
  flex-flow: column wrap;
  color: #939393;
  margin-top: 5px;
  font-size: 40px;
  font-weight: 500;
  line-height: 45px;
}
@media only screen and (min-width: 768px) {
  .lssgg-body h3 {
    font-size: 45px;
    line-height: 53px;
  }
}
.lssgg-body h2 {
  color: #EFF3EC;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}
@media only screen and (min-width: 768px) {
  .lssgg-body h2 {
    font-size: 35px;
    line-height: 41px;
  }
}
@media only screen and (min-width: 1920px) {
  .lssgg-body h2 {
    margin-top: 232px;
  }
}

.lssgg-btn {
  margin-top: 30px;
}
.lssgg-btn .btn {
  background-color: #FEFEFF;
  border-radius: 7px;
  font-size: 18px;
  line-height: 21px;
  color: #121212;
}

.insurence {
  max-width: 380px;
  margin-bottom: 70px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .insurence {
    max-width: 448px;
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .insurence {
    margin-bottom: 200px;
    max-width: 1036px;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 188px;
  }
}
@media only screen and (min-width: 1920px) {
  .insurence {
    max-width: 1310px;
  }
}
@media only screen and (min-width: 1200px) {
  .insurence .lssgg-body {
    display: flex;
    order: 1;
    flex-flow: column wrap;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .insurence-img {
    max-width: 448px;
    display: flex;
    flex-flow: column;
    order: 2;
  }
}
@media only screen and (min-width: 1920px) {
  .insurence-img {
    max-width: 722px;
  }
}
.insurence-img img {
  width: 100%;
}

.moon-race {
  max-width: 413px;
}
@media only screen and (min-width: 768px) {
  .moon-race {
    max-width: 597px;
  }
}
@media only screen and (min-width: 992px) {
  .moon-race {
    max-width: 797px;
  }
}
@media only screen and (min-width: 1200px) {
  .moon-race {
    max-width: 985px;
  }
}
@media only screen and (min-width: 1920px) {
  .moon-race {
    max-width: 1258px;
  }
}
.moon-race img {
  width: 100%;
}

.race-body {
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .race-body {
    text-align: start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.race-body p {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: #EFF3EC;
  margin-top: 50px;
}
@media only screen and (min-width: 768px) {
  .race-body p {
    margin-top: 70px;
  }
}
@media only screen and (min-width: 1200px) {
  .race-body p {
    margin-top: 42px;
  }
}
.race-body h1 {
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
  color: white;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .race-body h1 {
    font-size: 45px;
    line-height: 53px;
    margin-top: 22px;
  }
}
@media only screen and (min-width: 1200px) {
  .race-body h1 {
    margin-top: 10px;
  }
}
.race-body h3 {
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
  color: #939393;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .race-body h3 {
    font-size: 45px;
    line-height: 53px;
    margin-top: 22px;
  }
}
@media only screen and (min-width: 1920px) {
  .race-body h3 {
    margin-top: 10px;
  }
}

.branding {
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .branding {
    margin-top: 22px;
  }
}
.branding h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  color: #EFF3EC;
}
@media only screen and (min-width: 768px) {
  .branding h2 {
    font-size: 35px;
    line-height: 41px;
  }
}

.check-project {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .check-project {
    margin-top: 80px;
    margin-bottom: 126px;
  }
}
@media only screen and (min-width: 1200px) {
  .check-project {
    text-align: end;
    margin-top: 140px;
    margin-bottom: 200px;
  }
}
@media only screen and (min-width: 1920px) {
  .check-project {
    margin-bottom: 366px;
  }
}
.check-project a {
  color: #EFF3EC;
  font-size: 35px;
  font-weight: 500;
  line-height: 40px;
}
@media only screen and (min-width: 768px) {
  .check-project a {
    font-size: 40px;
    line-height: 47px;
  }
}

footer {
  background-color: #E0E0E0;
}

.foot-wrap {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
@media only screen and (min-width: 576px) {
  .foot-wrap {
    margin-left: 20px;
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .foot-wrap {
    margin-left: 36px;
  }
}
@media only screen and (min-width: 992px) {
  .foot-wrap {
    padding-top: 70px;
  }
}
@media only screen and (min-width: 1200px) {
  .foot-wrap {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1920px) {
  .foot-wrap {
    margin-left: 200px;
  }
}

.tell-me-idea h1 {
  display: flex;
  flex-flow: column;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  color: #41453C;
  margin-bottom: 50px;
}
@media only screen and (min-width: 576px) {
  .tell-me-idea h1 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 70px;
  }
}
@media only screen and (min-width: 768px) {
  .tell-me-idea h1 {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 94px;
  }
}
@media only screen and (min-width: 1200px) {
  .tell-me-idea h1 {
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 94px;
  }
}
@media only screen and (min-width: 1920px) {
  .tell-me-idea h1 {
    display: block;
  }
}

.dc-wrap {
  display: flex;
  flex-flow: column wrap;
}
@media only screen and (min-width: 1200px) {
  .dc-wrap {
    flex-flow: row wrap;
  }
}
.dc-wrap p {
  color: #41453C;
}

.discuse p {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 37px;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}
@media only screen and (min-width: 768px) {
  .discuse p {
    font-size: 40px;
    line-height: 47px;
  }
}
.discuse a {
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  color: #121212;
}

.contact {
  display: flex;
  flex-flow: column;
  margin-top: 60px;
}
@media only screen and (min-width: 1200px) {
  .contact {
    margin-top: 0px;
    margin-left: 174px;
  }
}
@media only screen and (min-width: 1920px) {
  .contact {
    margin-left: 623px;
  }
}
.contact p {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 35px;
}
@media only screen and (min-width: 768px) {
  .contact p {
    font-size: 40px;
    line-height: 47px;
  }
}
.contact .btn-wrap1 {
  margin-bottom: 20px;
}

.svl-wrap {
  margin-top: 60px;
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (min-width: 768px) {
  .svl-wrap {
    margin-top: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  .svl-wrap {
    margin-top: 100px;
    column-gap: 160px;
  }
}
@media only screen and (min-width: 1929px) {
  .svl-wrap {
    column-gap: 0px;
  }
}
.svl-wrap p {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: #41453C;
}
.svl-wrap a {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: black;
  opacity: 0.2;
}

.socials {
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .socials {
    width: auto;
  }
}
.socials ul {
  display: flex;
  flex-flow: row wrap;
  column-gap: 60px;
  margin-top: 20px;
}
@media only screen and (min-width: 576px) {
  .socials ul {
    column-gap: 82px;
  }
}
@media only screen and (min-width: 1200px) {
  .socials ul {
    margin-top: 30px;
  }
}

.version {
  margin-top: 20px;
  width: 50%;
}
@media only screen and (min-width: 1200px) {
  .version {
    margin-top: 0px;
    width: auto;
  }
}
@media only screen and (min-width: 1920px) {
  .version {
    margin-left: 456px;
  }
}
.version p {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1200px) {
  .version p {
    margin-bottom: 30px;
  }
}

.foot-location {
  margin-top: 20px;
  width: 50%;
}
@media only screen and (min-width: 1200px) {
  .foot-location {
    margin-top: 0px;
    width: auto;
  }
}
@media only screen and (min-width: 1920px) {
  .foot-location {
    margin-left: 100px;
  }
}
.foot-location p {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1200px) {
  .foot-location p {
    margin-bottom: 30px;
  }
}

.footer-bottom {
  background-color: #232325;
}

.footpera-wrap {
  display: flex;
  height: 65px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (min-width: 1200px) {
  .footpera-wrap {
    justify-content: start;
  }
}
.footpera-wrap p {
  color: #EFF3EC;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  opacity: 0.2;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .footpera-wrap p {
    margin-left: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
