@import "modules/variables";
@import "modules/fonts";
@import "modules/mixins";
@import "modules/common";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


@import "partials/main-sec";
@import "partials/introduction";
@import "partials/projects";
@import "partials/contact";
@import "partials/footer";

