#contact{
    background-color: $grayD4;
}
.contact-wrap{
    @include px(20px, 20px);
    @include my(20px, 20px);

    @include media($sm) {
        @include px(30px, 20px);
        margin-left: 30px;
    }
    @include media($md) {
        margin-left: 36px;
        @include px(50px, 30px)
    }
    @include media($lg) {
        @include px(50px, 35px);
        margin-left: 60px;
    }
    @include media($xl) {
        padding-top: 100px;
        padding-bottom: 40px;
        margin-left: 70px;
    }
    @include media($xxl) {
        margin-left: 90px;
    }
    @include media($mxl) {
        margin-left: 120px;
    }
    @include media($lxl) {
        margin-left: 140px;
    }
}

.contact-h{

    h1{
        display: flex;
        flex-flow: column;
        @include fonts(30px, 500, 33px);
        color: $gray3C;
        margin-bottom: 30px;
        
        @include media($xs) {
            font-size: 35px;
            line-height: 37px;
            margin-bottom: 40px;
        }
        @include media($sm) {
            font-size: 40px;
            line-height: 42px;
            margin-bottom: 50px;
        }
        @include media($md) {
            font-size: 50px;
            line-height: 53px;
            margin-bottom: 70px;
        }
        @include media($lg) {
            font-size: 60px;
            line-height: 64px;
            margin-bottom: 80px;
            display: block;
        }
        @include media($xl) {
            font-size: 70px;
            line-height: 75px;
            margin-bottom: 90px;
        }
        @include media($xxl) {
            font-size: 80px;
            line-height: 86px;
            margin-bottom: 100px;
        }
        @include media($mxl) {
            font-size: 90px;
            line-height: 98px;
            margin-bottom: 115px;
        }

        @include media($lxl) {
            font-size: 100px;
            line-height: 110px;
            margin-bottom: 130px;
        }
    }
}

.dc-wrap{
    display: flex;
    flex-flow: column wrap;

    @include media($md) {
        flex-flow: row wrap;
        align-items: center;
    }
    p{
        color: $gray3C;
    }
}
.discuse{
    a{
        font-weight: 600;
        color: $dark12;
        margin-bottom: 0px;
    }
}
.com-p{
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 20px;
    @include fonts(20px, 500, 23px);

    @include media($xs) {
        font-size: 21px;
        margin-bottom: 25px;
        line-height: 25px;  
    }
    @include media($sm) {
        font-size: 23px;
        margin-bottom: 34px;
        line-height: 27px;  
    }
    @include media($md) {
        font-size: 25px;
        margin-bottom: 45px;
        line-height: 27px;  
    }
    @include media($lg) {
        font-size: 28px;
        margin-bottom: 30px;
        line-height: 32px;  
    }
    @include media($xl) {
        font-size: 31px;
        margin-bottom: 34px;
        line-height: 33px;  
    }
    @include media($xxl) {
        font-size: 34px;
        margin-bottom: 37px;
        line-height: 37px;  
    }
    @include media($mxl) {
        font-size: 37px;
        line-height: 42px;  
    }
    @include media($mxl) {
        font-size: 40px;
        line-height: 47px;  
    }
 }
.contact-info{
    display: flex;
    flex-flow: column;
    margin-top: 35px;

    @include media($xs) {
        margin-top: 42px;
    } 
    @include media($sm) {
        margin-top: 50px;
    } 
    @include media($md) {
        margin-top: 0px;
        margin-left: 120px;
    } 
    @include media($lg) {
        margin-top: 0px;
        margin-left: 150px;
    }
    @include media($xl) {
        margin-left: 174px;
    }
    @include media($xxl) {
        margin-left: 310px;
    }
    @include media($xxl) {
        margin-left: 310px;
    }
    @include media($mxl) {
        margin-left: 410px;
    }
    @include media($lxl) {
        margin-left: 623px;
    }
    p{
        margin-bottom: 12px;
        @include media($sm) {
            margin-bottom: 15px;
        }
        @include media($md) {
            margin-bottom: 20px;
        }
        @include media($lg) {
            margin-bottom: 25px;
        }
        @include media($xl) {
            margin-bottom: 30px;
        }
        @include media($xxl) {
            margin-bottom: 35px;
        }
    } 
    .btn-wrap{
        margin-bottom: 12px;
        @include media($sm) {
            margin-bottom: 14px;
        }
        @include media($md) {
            margin-bottom: 16px;
        }
        @include media($lg) {
            margin-bottom: 18px;
        }
        @include media($xl) {
            margin-bottom: 20px;
        }
        .contact-btn{
            @include px(6px, 6px);
            @include py(8px, 8px);
            line-height: 15px;
            @include media($sm) {
                line-height: 17px;
            }
            @include media($md) {
                line-height: 19px;
                @include px(7px, 7px);
                @include py(10px, 10px);
            }
            @include media($lg) {
                line-height: 21px;
                @include px(8px, 8px);
                @include py(14px, 14px);
            }
            @include media($xl) {
                line-height: 23px;
                @include px(10px, 10px);
                @include py(18px, 18px);
            }
            @include media($xxl) {
                line-height: 28px;
                @include py(22px, 22px);
            }
            @include media($mxl) {
                line-height: 35px;
                @include py(35px, 35px);
            }
            @include media($mxl) {
                line-height: 35px;
                @include py(48px, 48px);
            }
            a{
                font-size: 15px;

                @include media($xs) {
                    font-size: 16px;
                }
                @include media($sm) {
                    font-size: 17px;
                }
                @include media($md) {
                    font-size: 18px;
                }
                @include media($lg) {
                    font-size: 20px;
                }
                @include media($xl) {
                    font-size: 23px;
                }
                @include media($lg) {
                    font-size: 27px;
                }
                @include media($mxl) {
                    font-size: 30px;
                }
            }
        }
    }
    .btn-wrap:last-child{
        margin-bottom: 0px;
    }
}

.svl-wrap{
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;

    @include media($xs) {
        margin-top: 60px;
    }
    @include media($sm) {
        margin-top: 70px;
    }
    @include media($md) {
        margin-top: 80px;
    }
    @include media($lg) {
        margin-top: 90px;
        column-gap: 100px;
    }
    @include media($xl) {
        margin-top: 130px;
    }
}

.socials{
    width: 100%;

    @include media($lg) {
        width: auto;
    }
    p{
        @include fonts(18px, 500, 23px);
        color: $gray3C;

        @include media($md) {
            font-size: 20px;
        }
        @include media($xl) {
            font-size: 23px;
        }
        @include media($mxl) {
            font-size: 25px;
        }
    }
    ul{
        display: flex;
        flex-flow: row wrap;
        column-gap: 20px;
        margin-top: 20px;

        @include media($sm) {
            column-gap: 50px;
        }
        @include media($md) {
            margin-top: 30px;
        }
        a{
            @include fonts(20px, 500, 23px);
            color: black;
            opacity: 0.2;

            @include media($sm) {
                font-size: 21px;
            }
            @include media($md) {
                font-size: 23px;
            }
            @include media($lg) {
                font-size: 25px;
            }
        }
    }
}

.vl-content{

    display: flex;
    flex-flow: row wrap;

    @include media($lg) {
        column-gap: 115px;
    }
}
.version{
    margin-top: 20px;
    width: 42%;

    @include media($lg) {
        width: auto;
    }

    @include media($xl) {
        margin-top: 0px;
    }
    @include media(1920px) {
        margin-left: 456px;
    }

    p{
        @include fonts(18px, 500, 23px);
        color: $gray3C;
        margin-bottom: 20px;

        @include media($md) {
            font-size: 20px;
        }

        @include media($lg) {
            margin-bottom: 30px;
        }
        @include media($xl) {
            font-size: 23px;
        }
        @include media($mxl) {
            font-size: 25px;
        }
    }
    a{
        @include fonts(20px, 500, 23px);
        color: black;
        opacity: 0.2;

        @include media($sm) {
            font-size: 21px;
        }
        @include media($md) {
            font-size: 23px;
        }
        @include media($lg) {
            font-size: 25px;
        }
    }
}
.c-location{
    margin-top: 20px;
    width: 58%;
    @include media($lg) {
        width: auto;
    } 

    @include media($xl) {
        margin-top: 0px;
    }
    @include media(1920px) {
        margin-left: 100px;
    }
    p{
        @include fonts(18px, 500, 23px);
        color: $gray3C;
        margin-bottom: 20px;

        @include media($md) {
            font-size: 20px;
        }

        @include media($lg) {
            margin-bottom: 30px;
        }
        @include media($xl) {
            font-size: 23px;
        }
        @include media($mxl) {
            font-size: 25px;
        }
    }
    a{
        @include fonts(20px, 500, 23px);
        color: black;
        opacity: 0.2;

        @include media($sm) {
            font-size: 21px;
        }
        @include media($md) {
            font-size: 23px;
        }
        @include media($lg) {
            font-size: 25px;
        }
    }
}