#footer{
    background-color: #232325;

    .content{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        @include media($xl) {
            justify-content: start;
        }
    
        p{
            color: $grayEC;
            @include fonts(12px, 500, 23px);
            opacity: 0.2;
            text-align: center;
            @include px(8px, 8px);
            

            @include media($xs) {
                font-size: 13px;
                @include px(10px, 10px);
            }
            @include media($sm) {
                font-size: 14px;
                @include px(12px, 12px);
            }
            @include media($md) {
                font-size: 15px;
                @include px(14px, 14px);
            }
            @include media($lg) {
                font-size: 16px;
                @include px(16px, 16px);
            }
            @include media($xl) {
                font-size: 18px;
                @include px(18px, 18px);
                margin-left: 130px;
            }
            @include media($xxl) {
                font-size: 20px;
                @include px(20px, 20px);
                margin-left: 150px;
            }
            @include media($mxl) {
                margin-left: 170px;
            }
        }
    }    
}
