.introduction-sec{
   .intro-bg{
    background-color: $grayD5;

    @include media(1920px) {
        background-color: $dark1C;
    }
   }
}

.intro-wrap{
    @include my(15px, 15px);
    @include px(30px, 30px);

    @include media($sm) {
        @include px(40px, 40px);
        @include my(30px, 30px);
    }
    @include media($md) {
        @include px(50px, 50px);
        @include my(40px, 40px);
    }
    @include media($lg) {
        @include py(70px, 70px);
        @include my(50px, 50px);
    }
    @include media($xl) {
        @include px(100px, 100px);
    }
    @include media(1400px) {
        @include my(60px, 60px);
    }
    @include media(1920px) {
        @include my(18px, 18px);
        @include py(250px, 250px);
        background-color: $grayD5;
        top: -288px;
        position: relative;
    }

    p{
        @include fonts(23px, 500, 35px);
        color: $gray3C;
        text-align: center;
        @include media($xs) {
            font-size: 25px;
            line-height: 37px;
        }
        @include media($sm) {
            font-size: 33px;
            line-height: 45px;
        }
        @include media($md) {
            font-size: 40px;
            line-height: 50px;
        }
        @include media($lg) {
            text-align: start;
        }
        @include media(1200px) {
            font-size: 53px;
            line-height: 62px;
        }
    }
    
}

.lbtn-wrap{
    text-align: center;
    margin-top: 40px;

    @include media(768px) {
        margin-top: 50px;
    }
    @include media($lg) {
        text-align: start;
    }
    .lbtn{
        border: none;
        background-color: $dark12;
        @include py(20px, 20px);
        @include px(9px, 9px);
        border-radius: 6px;
        @include fonts(20px, 500, 30px);
        color: $grayEC;

        @include media($sm) {
            font-size: 23px;
            line-height: 32px;
        }
        @include media($md) {
            font-size: 26pxpx;
            line-height: 35px;
            @include py(22px, 22px);
        }
        @include media($lg) {
            font-size: 30px;
            line-height: 40px;
            @include py(23px, 23px);
            @include px(10px, 10px);
        }
        @include media($xl) {
            font-size: 33px;
            line-height: 42px;
            @include py(24px, 24px);
            @include px(10px, 10px);
        }
        @include media($xxl) {
            font-size: 36px;
            line-height: 45px;
            @include py(25px, 25px);
            @include px(11px, 11px);
        }
        @include media($mxl) {
            font-size: 38px;
            line-height: 47px;
        }
        @include media($lxl) {
            font-size: 40px;
        }
    }
}

// Project 

.pro-head{
    color: white;
}