.main-section{
    background-color: $grayE0;
    padding-bottom: 100px;

    @include media(1200px) {
        padding-bottom: 151px;
    }
    @include media(1920px) {
        padding-bottom: 450px;
    }
}
header{
    padding-top: 80px;
}
.menu-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    @include my(40px, 40px);

    @include media(1200px) {
        @include my(50px, 88px);
    }
    @include media(1920px) {
        @include my(130px, 130px);
    }

    p, a{
        @include fonts(20px, 500, 19px);
        color: $dark1C;
    }

    ul{
        display: none;

        @include media(1200px) {
            display: flex;
            flex-flow: row wrap;
            column-gap: 90px;
        }
    }
}

.menu-right{
    display: none;

    @include media(1200px) {
        display: block;
    }
    p{
        font-size: 24px;
        font-weight: 600;
    }
}
.show-btn{
    display: block;
    font-size: 25px;
    color: #41453C;
    border: none;

    @include media(1200px) {
        display: none;
    }
}

// Main section

.main-sec-wrap{
    background-image: url("../img/main-bg.pn");

    h1{
        @include fonts(70px, 600, 94px);
        color: $gray9A;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 24px;

        @include media(768px) {
            font-size: 80px;
        }

        @include media(1200px) {
            justify-content: start;
            margin-left: 139px;
            margin-top: 60px;
            font-size: 130px;
            line-height: 152px;
        }
        @include media(1920px) {
            margin-left: 175px;
            font-size: 200px;
            line-height: 234px;
        }
    }
}

.clip-heding{

    h1{
        @include fonts(70px, 700, 133%);
        font-style: italic;
        background-image: url("../img/text-bg.webp");
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-top: 100px;

        @include media(576px) {
            font-size: 90px;
        }

        @include media(768px) {
            font-size: 120px;
            margin-top: 130px;
        }
        @include media(1200px) {
            font-size: 180px;
            margin-left: 50px;
            margin-top: 190px;
        }
        @include media(1920px) {
            font: 230px;
            margin-top: 268px;
        }
    }
}

.lt-wrap{
    display: flex;
    flex-flow: row wrap;
    column-gap: 89px;
    justify-content: center;
    margin-top: 40px;

    @include media(1200px) {
        justify-content: start;
        margin-top: 60px;
        margin-left: 128px;
    }
    @include media(1920px) {
        margin-left: 258px;
    }
}

.location{
    display: flex;
    flex-flow: row wrap;
    column-gap: 15px;
    align-items: center;

    img{
        width: 34px;
        height: 34px;
    }
    p{
        display: flex;
        flex-flow: column wrap;
        @include fonts(16px, 500, 19px);
        color: #41453C;
    }
}


