main{
    background-color: $grayE0;
    height: 100vh;

    @include media($lxl) {
        height: initial;
    }
}
header{
    padding-top: 20px;
}
.menu-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    @include my(20px, 20px);

    @include media($sm) {
        @include my(0px, 0px);
    }

    p{
        @include fonts(15px, 500, 19px);
        color: $dark1C;

        @include media($sm) {
            font-size: 16px;
        }
        @include media($md) {
            font-size: 17px;
        }
        @include media($lg) {
            font-size: 18px;
        }
        @include media($xl) {
            font-size: 20px;
        }
    }
    a{
        @include fonts(20px, 500, 19px);
        color: $dark1C;
    }
    ul{
        display: none;

        @include media(1200px) {
            display: flex;
            flex-flow: row wrap;
            column-gap: 90px;
        }
    }
}

.menu-right{
    display: none;

    @include media(1200px) {
        display: block;
    }
    p{
        font-size: 24px;
        font-weight: 600;
    }
}
.show-btn{
    display: block;
    font-size: 25px;
    color: #41453C;
    border: none;
    background: none;

    @include media(1200px) {
        display: none;
    }
}

// Main section
.main-sec-wrap{
    padding-top: 70px;
    display: flex;
    flex-flow: column;
    align-items: start;

    @include media($sm) {
        padding-top: 90;
    }
    @include media($md) {
        padding-top: 110px;
        align-items: center;

    }
    @include media($lg) {
        padding-top: 130px;
    }
    @include media($xl) {
        padding-bottom: 151px;
        padding-top: 190px;
        background-image: url("../img/main-sec-img.png");
        background-size: 955px 853px;
        background-position: 100% 31px;
        background-repeat: no-repeat;
        align-items: start;
    }
    @include media(1920px) {
        padding-bottom: 450px;
        padding-top: 238px;
    }

    h1{
        @include fonts(50px, 600, 52px);
        color: $gray9A;
        margin-top: 20px;

        @include media(768px) {
            font-size: 80px;
        }

        @include media(1200px) {
            margin-left: 139px;
            font-size: 130px;
            line-height: 152px;
        }
        @include media(1920px) {
            margin-left: 175px;
            font-size: 200px;
            line-height: 234px;
        }
    }
}

.clip-heding{

    h1{
        @include fonts(60px, 700, 133%);
        font-style: italic;
        background-image: url("../img/text-bg.webp");
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-left: 0px;
        @include media($xs) {
            font-size: 70px;
        }
        @include media(576px) {
            font-size: 90px;
        }
        @include media(768px) {
            font-size: 120px;
        }
        @include media(1200px) {
            font-size: 180px;
            margin-left: 50px;
        }
        @include media($xxl) {
            font-size: 200px;
        }
        @include media(1920px) {
            font-size: 230px;
            margin-top: 0px;
        }
    }
}

.lt-wrap{
    column-gap: 89px;
    margin-top: 40px;
    display: flex;
    flex-flow: column wrap;
    row-gap: 10px;

    @include media($sm) {
        flex-flow: row wrap;
    }
    @include media($md) {
        display: flex;
    }
    @include media(1200px) {
        // justify-content: start;
        margin-top: 60px;
        margin-left: 128px;
    }
    @include media(1920px) {
        margin-left: 258px;
    }
}

.location{
    display: flex;
    flex-flow: row wrap;
    column-gap: 15px;
    align-items: center;

    img{
        width: 34px;
        height: 34px;
    }
    p{
        display: flex;
        flex-flow: column wrap;
        @include fonts(16px, 500, 19px);
        color: #41453C;
    }
}
.time-zone{
    margin-top: 10px;
    margin-left: 2px;

    @include media($md) {
        margin-left: none;
    }
}


