.project-wrap{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    @include my(15px, 15px);

    @include media($xs) {
        @include my(0px, 0px);
    }
}
.lssgg{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-bottom: 70px;
    max-width: 413px;

    @include media(768px) {
        margin-bottom: 100px;
        max-width: 513px;
    }
    @include media($lg) {
        max-width: 613px;
        margin-bottom: 130xp;
    }
    @include media(1200px) {
        margin-bottom: 150px;
        display: flex;
        flex-flow: row wrap;
        max-width: 1095px;
    }
    @include media($xxl) {
        max-width: 1300px;
        margin-bottom: 170px;
    }
    @include media(1920px) {
        align-items: start;
        max-width: 1551px;
        margin-bottom: 200px;
    }
}

.lssgg-img{
    @include media($xl) {
        max-width: 513px;
    }
    @include media($xxl) {
        max-width: 613px;
    }
    @include media($mxl) {
        max-width: 713px;
    }
    @include media(1920px) {
        max-width: 885px;
    }
    img{
        width: 100%;
    }
}

.lssgg-body{
    text-align: center;
    @include media($xl) {
        text-align: start;
        margin-left: 57px;
        max-width: 450px;
        text-align: start;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
    }
    @include media($xxl) {
        margin-left: 80px;
    }
    @include media(1920px) {
        margin-left: 120px;
    }
}
.issu-p{
    margin-top: 10px;
    @include fonts(17px, 500, 25px);
    color: $grayEC;

    @include media($xs) {
        margin-top: 18px;
        font-size: 20px;
    }
    @include media($sm) {
        margin-top: 25px;
        font-size: 20px;
    }
    @include media($md) {
        font-size: 22px;
        line-height: 29px;
        margin-top: 35px;
    }
    @include media($lg) {
        margin-top: 50px;
        font-size: 25px;
    }
    @include media(1200px) {
        margin-top: 0px;
    }
}
.issu-h1{
    margin-top: 3px;
    @include fonts(30px, 500, 45px);
    color: white;

    @include media($sm) {
        font-size: 32px;
    }
    @include media($md) {
        font-size: 35px;
        line-height: 53px;
        margin-top: 5px;
    }
    @include media($lg) {
        font-size: 39px;
    }
    @include media($xl) {
        font-size: 43px;
    }
    @include media($xxl) {
        font-size: 45px;
    }
    @include media($lxl) {
        margin-top: 10px;
    }
}
.issu-h3{
    display: flex;
    flex-flow: column wrap;
    color: $gray93;
    margin-top: 5px;
    @include fonts(30px, 500, 45px);

    @include media($sm) {
        font-size: 32px;
    }
    @include media($md) {
        font-size: 35px;
        line-height: 53px;
        margin-top: 5px;
    }  
    @include media($lg) {
        font-size: 39px;
    }
    @include media($xl) {
        font-size: 43px;
    }
    @include media($xxl) {
        font-size: 45px;
    }
    @include media($lxl) {
        margin-top: 15px;
    }
}
.issu-h2{
    color: $grayEC;
    margin-top: 20px;
     @include fonts(30px, 500, 35px);

    @include media(768px) {
        font-size: 35px;
        line-height: 41px;
    }
    @include media(1920px) {
        margin-top: 232px;
    }
}
.lssgg-btn{
    margin-top: 10px;

    @include media($sm) {
        margin-top: 13px;
    }
    @include media($md) {
        margin-top: 15px;
    }
    @include media($lg) {
        margin-top: 20px;
    }
    @include media($xl) {
        margin-top: 23px;
    }
    @include media($xxl) {
        margin-top: 25px;
    }
    @include media($mxl) {
        margin-top: 30px;
    }
    .btn{
        background-color:  #FEFEFF;
        border-radius: 7px;
        font-size: 15px;
        line-height: 21px;
        color: $dark12;

        @include media($sm) {
            font-size: 16px;
        }
        @include media($md) {
            font-size: 18px;
        }
    }
}

// Insurence

.insurence{
    max-width: 380px;
    margin-bottom: 70px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    @include media(768px) {
        max-width: 448px;
        margin-bottom: 100px;
    }
    @include media($lg) {
        max-width: 550px;
    }
    @include media($xl) {   
        margin-bottom: 200px;
        max-width: 1050px;
        flex-flow: row wrap;
        justify-content: space-between;
        column-gap: 188px;
    }
    @include media($xxl) {
        max-width: 1100px;
    }
    @include media($mxl) {
        max-width: 1310px;
    }

    .lssgg-body{
        @include media(1200px) {
            display: flex;
            order: 1;
            flex-flow: column wrap;
            margin-left: 0px;
        }
    }
}
.insurence-img{

    @include media(1200px) {
        max-width: 470px;
        display: flex;
        flex-flow: column;
        order: 2;
    }
    @include media($xxl) {
        max-width: 500px;
    }
    @include media($mxl) {
        max-width: 600px;
    }
    @include media(1920px) {
        max-width: 722px;
    }

    img{
        width: 100%;
    }
}



// Race

.moon-race{
    max-width: 413px;

    @include media($sm) {

    }
    @include media($md) {
        max-width: 597px;
    }
    @include media($lg) {
        max-width: 797px;
    }
    @include media($xl) {
        max-width: 985px;
    }
    @include media($xxl) {
        max-width: 1100px;
    }
    @include media($mxl) {
        max-width: 1200px;
    }
    @include media(1920px) {
        max-width: 1258px;
    }
    img{
        width: 100%;
    }
}
.race-body{
    text-align: center;

    @include media(1200px) {
        text-align: start;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
}
.branding{

    h2{
        @include media($mxl) {
            margin-top: 0px;
        }
        @include media($lxl) {
            margin-top: 0px;
        }
    }
}

.check-project{
    text-align: center;
    @include mx(60px, 80px);

    @include media(768px) {
        @include mx(80px, 126px);
    }
    @include media(1200px) {
        text-align: end;
        @include mx(140px, 200px);  
    }
    @include media(1920px) {
        margin-bottom: 366px;
    }
    a{
        color: $grayEC;
        @include fonts(20px, 500, 40px);
        
        @include media($sm) {
            font-size: 23px;
        }
        @include media($md) {
            font-size: 26px;
            line-height: 30px;
        }
        @include media($lg){
            font-size: 30px;
            line-height: 40px;
        } 
        @include media($xl) {
            font-size: 32px;
            line-height: 45px;
        }
        @include media($xxl) {
            font-size: 35p;
        }
    }    
}
