body{
    font-family: "Gilroy";
    background-color: $dark1C;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

.btn {
    @include px(10px, 10px);
    @include py(12px, 12px);
    background-color: $dark12;
    border-radius: 12px;
    @include fonts(25px, 600, 30px);

    @include media(768px) {
        font-size: 30px;
        line-height: 35px;
    }

    a{
        color: $grayEC;
    }
}