$dark12: #121212;
$dark1C: #1C1C1C;
$grayE0: #E0E0E0;
$grayD5: #D5D5D5;
$gray9A: #8D909A;
$grayD4: #D4D4D4;
$gray3C: #41453C;
$grayEC: #EFF3EC;
$gray93: #939393;

$xs: 425px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$mxl: 1800px;
$lxl: 1920px;